.container {
  display: flex;
  font-size: 10px;
  max-width: 75px;
  flex-grow: 1;
  flex-basis: 0;
  margin-right: 4px;

  &:last-child {
    margin-right: 0;
  }
}

.button {
  display: flex;
  width: 100%;
}

.title {
  padding-left: 16px; // clear icon
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 9px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  top: 1px; // fix alignment because of weird border buttons

  &.active {
    font-weight: bold;
    top: 2px; // fix alignment because of weird border buttons
  }

  img {
    height: 12px;
    position: absolute;
    left: 2px;
    //top: 1px;
  }
}
