.container {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  padding: 5px;
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(65px, 65px));
  grid-auto-rows: max-content;
  grid-gap: 10px;
}

.columnLayout {
  grid-template-columns: unset;
  grid-auto-rows: unset;

  grid-auto-flow: column;
  grid-template-rows: repeat(auto-fill, minmax(65px, 65px));
  grid-auto-columns: max-content;
  grid-gap: 20px;
}
