.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 65px;
  height: 65px;
}

.icon {
  width: 30px;
  -webkit-mask-size: 30px;
  -webkit-mask-position: 0 0;
}

.iconSelected {
  filter: url('#screendoor');
}

.titleContainer {
  padding-top: 5px;
  font-size: 10px;
  color: white;
}

.title {
  border-radius: 1px;
  padding: 1px;
}

.titleDarkFont {
  color: black;

  &.titleSelected {
    color: white;
    background: #0000aa;
  }

  &.titleSelectedInactive {
    border: 0.5px dotted #868a8e;
  }
}

.titleSelected {
  background: #0000aa;
  border: 0.5px dotted white;
}

.titleSelectedInactive {
  border: 0.5px dotted white;
}
