.containerButton {
  box-shadow: 0 0 0 1px black;
}

.containerButtonDepressed {
  box-shadow: 0 0 0 1px white;
}

.outerBorderButton {
  border-left: none;
  border-top: none;
  border-right: 1px solid #868a8e;
  border-bottom: 1px solid #868a8e;
  box-shadow: -0.5px -0.5px 0 0.5px white;
}

.outerBorderButtonDepressed {
  box-shadow: -0.5px -0.5px 0 0.5px black;
  border-right: none;
  border-bottom: none;
  border-left: 1px solid #868a8e;
  border-top: 1px solid #868a8e;
}

.innerBorderButton {
  box-shadow: none;
  border-left: none;
  border-top: none;
}
