.container {
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
  width: 100%;
  font-size: 10px;
  padding: 5px 10px;
  padding-right: 0;
}

.short {
  height: 20px;
  padding: 3px 10px;
}

.iconCol {
  width: 20px;
  height: 100%;
}

.caretCol {
  display: flex;
  align-items: center;
  width: 10px;
  height: 100%;
}

.active {
  background: #0000aa;
}

.label {
  flex-grow: 1;
  padding-left: 10px;
}

.labelHovered {
  color: white;
}

.icon {
  height: 100%;
}
